{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="../static/location_bookstore.css">
    <title>Independent Book Store</title>
</head>
<body>
    <div class="container">
        <div class="headbox">
            <p> 골목책방 </p>
        </div>
        <div class="leftbox">
            <div class="information_section">
                <div class="book_store_name">
                    {{bookstores.name}}
                </div>
                <br>
                <div class="book_store_specific_address">
                    {{bookstores.specific_address}} 
                <br>
                <div class="book_store_traits">
                    {{bookstores.trait}}
                </div>
                </div>
                <br>
                <div class="book_store_informations">
                    {{bookstores.bookstore_information}}
                </div>
            </div>

        </div>
        <div class="rightbox">
            <div class="picture_section">
                <div class="picture">
                    <img class="pic" src="{{bookstores.bookstore_image1.url}}" height="600px" width="100%">
                    <img class="pic" src="{{bookstores.bookstore_image2.url}}" height="600px" width="100%">
                    <img class="pic" src="{{bookstores.bookstore_image3.url}}" height="600px" width="100%">
                    <img class="pic" src="{{bookstores.bookstore_image4.url}}" height="600px" width="100%">
                </div>
            </div>
        </div>
    </div>
</body>
</html>



