body {
    height: 100%;
    background-image: url(library.jpg);
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}
.contnet{
    display: flex;
    flex-direction: row;
}
.move_navbar{
    position: absolute;
    right: 10%;
    top: 10%;
    color: white;
}
.title{
    color: white;
}
.bookstore{
    font-size: 50px;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    color: white;
}
